.panel-heading .accordion-toggle:after {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
  content: "\e114";    /* adjust as needed, taken from bootstrap.css */
  float: right;        /* adjust as needed */
  color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
.item img{
  max-height: 600px;
  min-height: 600px;
}
div#s4-titlerow {
  display:none !important;
}
#contentRow {
  padding-top: 0px !important;
}
.col-sm-9.mtmCarosal {
  padding: 0px;
}
