<div class="panel-group" id="accordion">
  <div class="panel panel-default" ng-repeat="item in vm.items">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{item.ID}}">
          {{item.Title}}
        </a>
      </h4>
    </div>
    <div id="collapse{{item.ID}}" class="panel-collapse collapse in">
      <div class="panel-body" >
       {{item.Description}}
      </div>
    </div>
  </div>
  
</div>
